@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-sans:
    Geist, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    Geist Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.22 0 0);
  --primary: oklch(0.28 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.95 0 0);
  --muted-foreground: oklch(0.52 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

[data-theme='dark'] {
  --background: oklch(0.19 0 0);
  --foreground: oklch(0.92 0 0);
  --primary: oklch(0.85 0 0);
  --primary-foreground: oklch(0.25 0 0);
  --muted: oklch(0.26 0 0);
  --muted-foreground: oklch(0.65 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --ring: oklch(0.556 0 0);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50 tracking-tight;
  }

  /* sm 640 */
  .expressive-code .copy > button {
    width: 1.75rem !important;
    height: 1.75rem !important;
  }

  /* lg 1024 / sm 640 */
  @media (min-width: 1024px) {
    .expressive-code .copy > button {
      width: 1.8rem !important;
      height: 1.8rem !important;
    }
  }

  /*  xl 1280 / 2xl 1536 */
  @media (min-width: 1280px) {
    .expressive-code .copy > button {
      width: 2rem !important;
      height: 2rem !important;
    }
  }
}
